 <div th:fragment="column-search-content" xmlns:th="http://www.thymeleaf.org" id="column-select" class="uk-container">	    
   <form method="POST" action="micro-game-index">
    <fieldset class="uk-fieldset">

        <legend class="uk-legend">A jatek kezdete elott kellene néhány apró dolog </legend>

        <div class="uk-margin">
            <input name="playerName" class="uk-input" type="text" id="input-text" placeholder="Neved" required>
        </div>
        
        <div class="uk-margin">
    </div>
    	<button class="uk-button uk-button-default"  type="submit">
				Start game
		</button>
    </fieldset>
</form>
</div>
