<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
	<div
		class="uk-background-cover uk-position-cover uk-panel uk-flex uk-flex-center uk-flex-middle"
		style="background-image: url(http://images.tskr.co.uk/404-Background.jpg);">
		 <div class="uk-position-medium uk-overlay uk-overlay-default  uk-flex-middle">
			<a class="uk-button uk-button-default" href="/index"> Vissza a fő
				oldalra. </a>
		</div>
	</div>

</body>
<script>
</script>
</html>