/* UTILS */
.white-color {
	color: white;
}

/* INDEX-PAGE-SECTION */
.index-background {
	background: #ece9e6; /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #ece9e6, #ffffff);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #ece9e6, #ffffff);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* GAMES-PAGE SECTION */
.games-background {
	background: #e43a15; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #e65245, #e43a15);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #e65245, #e43a15);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* ELECTION-PAGE SECTION */
.election-background {
	background: #0cebeb; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}