<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
	<div class="uk-container">
		<div class="uk-padding-small">
			<h1 class="uk-heading-line">Shop site</h1>
		</div>

		<!-- cart-button -->
		<div class="uk-position-small uk-position-top-right">
			<a href="#offcanvas-slide" class="uk-button uk-button-default"
				uk-toggle>Kosárelemek</a>
		</div>
		<div id="offcanvas-slide" uk-offcanvas>
			<div class="uk-offcanvas-bar">

				<button class="uk-offcanvas-close" type="button" uk-close></button>

				<div id="cart-item" th:replace="shop/shop-cart"></div>
			</div>
		</div>
		
		<div th:if="!${shopItemList}">
			<h3> A webshopban nincsen tartalom jelenleg.</h3>
		</div>
		
		<div th:if="${shopItemList}">
			<div class="uk-child-width-1-3@m uk-grid-small uk-grid-match" uk-grid>
				<div th:each="shopList : ${shopItemList}">
					<div class="uk-card uk-card-default uk-card-body">
						<h3 class="uk-card-title" th:text="${shopList.itemName}"></h3>
						<p th:text="${shopList.description}">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
						<p th:text="${shopList.itemValue}"></p>
						<p th:text="${shopList.quantity}"></p>
						<button class="uk-button" th:value="${shopList.id}">Vásárlás</button>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
<script>

$(document).ready(function(){

	$(".uk-button").click(function(){
		console.log($(this).val());
	});

});

</script>
</html>